 body{
    background-color: powderblue;
    /* display: flex; */
    /* flex-wrap: wrap; */
} 

.styles{
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cube{
    margin: 3px 3px;
    text-align:center;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    border:double 2px black;
}

