.button-styling {
    width: 200px;
    height: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
  } 